# Postgres
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=digestor
PG_HOST=localhost
DATABASE_URL=postgresql+psycopg2://app:app@postgres:5432/digestor


# Langflow
LANGFLOW_PORT=7860
LF_BASE=http://localhost:7860
EMBS_FLOW_ID=<PASTE_YOUR_MAKE_EMBS_FLOW_ID>
FIND_FLOW_ID=<PASTE_YOUR_TOPK_FLOW_ID>
SUMMARY_FLOW_ID=<PASTE_YOUR_SUMMARY_FLOW_ID>


# n8n
N8N_PORT=5678
N8N_ENCRYPTION_KEY=<REPLACE_WITH_RANDOM_32_CHARS>
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=<SET_STRONG_PASSWORD>
GENERIC_TIMEZONE=Europe/Moscow


# ngrok
DOMAIN_NAME=<YOUR_DOMAIN>
SUBDOMAIN=<YOUR_SUBDOMAIN>
GENERIC_TIMEZONE=Europe/Berlin
SSL_EMAIL=user@example.com


TG_BOT_TOKEN=<PASTE_YOUR_TELEGRAM_BOT_TOKEN>